# test wonderworld

## pandas with components

In [4]:
import pandas as pd
from wonderworld import *

In [5]:
@component
class Paddle:
    pass

In [7]:
d = {'col1': [1, 2], 'col2': [Paddle(), Paddle()]}
df = pd.DataFrame(data=d)
df

   col1      col2
0     1  Paddle()
1     2  Paddle()

In [8]:
df.dtypes

col1     int64
col2    object
dtype: object

In [1]:
from wonderworld import *

@dataclass
class Component1(Component):
    pass

@dataclass
class Component2(Component):
    value:int

@dataclass
class Label(Component):
    value:str

@dataclass
class Strength(Component):
    value:int

@dataclass
class Agility(Component):
    value:int

pygame 2.1.2 (SDL 2.0.18, Python 3.9.16)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [5]:
df = pd.DataFrame(columns = ['Component2','Label', 'Strength'])
df

Empty DataFrame
Columns: [Component2, Label, Strength]
Index: []

In [6]:
df.loc[0] = [Component2(2),
             Label("test"), 
             Strength(25)]
df

            Component2                Label            Strength
0  Component2(value=2)  Label(value='test')  Strength(value=25)

In [23]:
df.loc[1] = {'Component2': Component2(2),
             'Label': Label("test"), 
             'Strength': Strength(25)}
df

            Component2                 Label            Strength
0  Component2(value=2)  Label(value='test1')  Strength(value=25)
1  Component2(value=2)   Label(value='test')  Strength(value=25)

In [7]:
df.loc[0]

Component2    Component2(value=2)
Label         Label(value='test')
Strength       Strength(value=25)
Name: 0, dtype: object

In [8]:
type(df.loc[0])

pandas.core.series.Series

In [11]:
s1 = {"Component2"}
s1

{'Component2'}

In [12]:
type(s1)

set

In [14]:
s2 = {'Component2','Label', 'Strength'}
s2

{'Component2', 'Label', 'Strength'}

In [16]:
s1.issubset(s2)

True

In [18]:
l = df.loc[0,"Label"]
l

Label(value='test')

In [19]:
l.value = "test1"
df

            Component2                 Label            Strength
0  Component2(value=2)  Label(value='test1')  Strength(value=25)

In [20]:
def query(rows, select=None):
    num = 0
    while num < 100:
        yield num
        num += 1

In [22]:
for i in query(("test")):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99